---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BackgroundCard from "../components/BackgroundCard.astro";
import ContactInfo from "../components/ContactInfo.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";

---


<Layout>
  <div class="section">
    <Header />
  </div>

  <div class="section">
    <Projects />
  </div>
</Layout>
