<div class="mx-2">
    <h1 class="text-4xl sm:text-5xl font-extralight tracking-widest uppercase">Bryce Eppler</h1>
    <!-- <ContactInfo /> -->
    <h2 class="text-3xl font-bold tracking-widest uppercase">Full Stack Developer</h2>
    <p class="text-xl sm:text-2xl font-thin tracking-wide">
      My name is Bryce Eppler, I am a full stack developer from Victoria, Canada. I am currently studying Computer Science at the University of Victoria. I am passionate about building web applications and learning new technologies.
    </p>
  </div>