---
import '../styles.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bryce Eppler's developer portfolio" />
    <meta name="author" content="Bryce Eppler" />
    <title>Bryce Eppler</title>
    <link class="fill-red-600" rel="icon" href="/favicon.svg" />
    <!-- SMS meta tags -->
    <meta property="og:title" content="Bryce Eppler's Porfolio" />
    <meta property="og:image" content="https://i.ibb.co/tC71M9g/og-image.png" />
  </head>
  <body class="bg-steel-background text-white max-w-4xl mx-auto">
    <!-- center content horizontally in the page -->
      <slot />
  </body>
</html>
